@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<p>Estou testando o Entity Framework com MVC e ASP.Net.</p>