@{
    ViewData["Title"] = "Início";
}
<h2>@ViewData["Title"]</h2>
<div class="text-center">
    <h1 class="display-4">Olá, bem vindo!</h1>
    <p>Esse é um sistema construído com ASP.NET Core e Entity Framework.</p>
    <p>Aproveite!</p>
</div>

